body 	{ background-color: #b89e81; 
      	  color: #221811;
      	  font-family: Verdana, Arial, sans-serif; }
h1		{ background-color: #b89e81;
  	      	text-align: center; 
  	      	line-height: 200%; }
nav		{ text-align: center;
		  font-weight: bold; }
footer	{ background-color: #b89e81;
					font-size: .60em;
					font-style: italic;
					text-align: center; }
		  