.wrapper { 
	display: grid; 
	grid-template-columns: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
	grid-rows: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr; }
.black { 
	grid-column-start 2fr;
	grid-column-end: 8fr;
	background-color: black; }
.white {
	grid-column-start: 1fr;
	grid-column-end: 9fr;
	background-color: white; }
.red {
	grid-area: red;
	background-color: red; }
.orange {
	grid-area: orange; 
	background-color: orange; }
.yellow {
	grid-area: yellow;
	background-color: yellow; }
.green {
	grid-area: green; 
	background-color: green; }
.cyan {
	grid-area: cyan;
	background-color: cyan; }
.blue {
	grid-area: blue; 
	background-color: blue; }
.violet {
	grid-area: violet;
	background-color: violet; }
.purple {
	grid-area: violet; 
	background-color: violet; }
