.wrapper { 
	display: grid; 
	grid-template-columns: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
	grid-template-rows: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
	grid-template-areas:
	  "black black black black black black black black black"
	  ". white white white white white white white ."
	  "red . . . . . . . ."
	  "orange orange . . . . . . ."
	  "yellow yellow yellow . . . . . ."
	  "green green green green . . . . ."
	  "cyan cyan cyan cyan cyan . . . ."
	  "blue blue blue blue blue blue . . ."
	  "violet violet violet violet violet violet violet . ."
	  "purple purple purple purple purple purple purple purple ." }
.black { 
	grid-column-start 2;
	grid-column-end: 8;
	background-color: black; }
.white {
	grid-column-start: 1;
	grid-column-end: 9;
	background-color: white; }
.red {
	grid-area: red;
	background-color: red; }
.orange {
	grid-area: orange; 
	background-color: orange; }
.yellow {
	grid-area: yellow;
	background-color: yellow; }
.green {
	grid-area: green; 
	background-color: green; }
.cyan {
	grid-area: cyan;
	background-color: cyan; }
.blue {
	grid-area: blue; 
	background-color: blue; }
.violet {
	grid-area: violet;
	background-color: violet; }
.purple {
	grid-area: purple; 
	background-color: purple; }
