body 	{ background-image: url(background.jpg);
          background-repeat: no-repeat; }
h1	{ text-align: center; 
  	  padding-top: 45px;
  	  padding-left: 220px; 
  	  font-size: 3em; }
nav	{ float: left;
          width: 200px;
          text-align: center;
          font-weight: bold;
          font-size: 1.5em;
          padding-top: 10px; }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
main    { padding-left: 0;
	  padding-right: 0;
	  padding-bottom: 2em;
	  padding-top: 0;
	  margin-left: 200px;
	  margin-bottom: 0px; }
h2	{ text-align: center; 
  	  padding-top: 45px;
  	  padding-left: 220px; 
  	  font-size: 3em; }
h3	{ text-align: center; 
  	  padding-top: 45px;
  	  padding-left: 220px; 
  	  font-size: 3em; }
img 	 { display: block;
	   padding-left: 10px;
           padding-right: 10px; 
           margin: auto;
	   height: 250px; }
table	{ width: 90%;
	  margin: auto;
	  border-spacing: 0; }
td, th	{ padding: 10px; }	  
header, nav, main, footer {display: block; }
.mygrid { display: grid;
	  grid-template-columns: 150px 1fr;
	  grid-template-rows: 200px auto; }
.header { grid-row: 1 / 2;
	 grid-column: 1 / 3; }
.nav { grid-row: 2 / 3;
      grid-column: 1 / 3; }
.main { grid-row: 2 / 3;
       grid-column: 1 / 2; }
.footer { grid-row: 3 / 4;
         grid-column: 1 / 3; }
footer { font-size: .60em;
         font-style: italic;
	 text-align: center;
	 padding-bottom: 10px;
         }
